{% extends "base.html" %}
{% block body %}

<title>Login Page</title>
<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f2f2f2;
        text-align: center;
    }
    .login-container {
        width: 300px;
        margin: 100px auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    input {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
    button {
        width: 100%;
        padding: 10px;
        background-color: #00ff77;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
</style>
</head>
<body>
<div class="login-container">
    <h2>Login</h2>
    <form method="POST">
        {% csrf_token %}
        <input type="text" placeholder="Username" name='username' required>
        <input type="password" placeholder="Password"  name='password' required>
        <button type="submit">Login</button>
    </form>
    <p><a href="#">Forgot password?</a></p>
    <p><a href="{% url "accounts:register" %}">Register</a></p>
</div>
</body>
{% endblock body %}

<!-- <div class="apply_job_form white-bg">
    <h4>Apply for the job</h4>
    <form  method='POST' enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            <input type="text" name="" id="">
            <input type="text" name="" id="">
            <input type="text" name="" id="">
            <div class="col-md-12">
                <div class="submit_btn">
                    <button class="boxed-btn3 w-100" type="submit">Apply Now</button>
                </div>
            </div>
        </div>
    </form>
</div> -->
